body{
    margin: 0;
    padding: 0;
    font-family: 'Stick No Bills', sans-serif;
    background: linear-gradient(to bottom, #ecd02d, #8a7815);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
    background: #edf4ff;
    color: #1c1c1c;
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 6px 6px 6px #0e1d2f;
}

.topo{
    display: flex;
    align-items: center;
}

.topo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.corpo{
    display: flex;
    align-items: center;
}

.info{
    margin-left: 32px;
}

.info h1{
    font-weight: 700;
    font-size: 72px;
}

h3{
    font-weight: 300;
    font-size: 30px;
}

.info button{
    padding: 10px;
    background: none;
    border-radius: 25px;
    font-size: 20px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.projetos{
    width: 750vh;
    height: 164vh;
    background: linear-gradient(to left,#dfd28c, #ffee8b);
    padding: 10px;
    display: flex;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.projetos ul{
    list-style-type: none;
}

.projetos p{
    text-decoration: none;
    color: #0e1d2f;
    font-size: 30px;
    padding-left: 400px;
}

.conquista{
    width: 500vh;
    height: 164vh;
    background: linear-gradient(to left,#dfd28c, #ffee8b);
    margin-left: 15px;
    padding: 5px;
    display: flex;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.conquista ul{
    list-style-type: none;
}

.conquista a{
    text-decoration: none;
    color: #0e1d2f;
    font-size: 30px;
}

.dark{
    background: linear-gradient(to bottom, #645b27, #383002);
    background-size: 100%;
    background-repeat: no-repeat;
}

.dark .container{
    background: #adadad;
    color: #e9e9e9;
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 6px 6px 10px #3f3f3f;
}

.dark .info{
    color: #1c1c1c;
}

.dark .info button{
    color: #e9e9e9;
    border-color: #e9e9e9;
}

.dark .conquista{
    background: linear-gradient(to bottom, #968c54, #5e5214);
}

.dark .conquista a{
    color: #e9e9e9;
}

.dark .projetos{
    background: linear-gradient(to bottom, #968c54, #5e5214);
}

.dark .projetos p{
    color: #e9e9e9;
}