*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

body{
    min-height: 100vh;
    background: linear-gradient(#f8d060,#aa8725);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Stick No Bills', sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    height: 90%;
    width: 90%;
    background: #ececec;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000000;
    top: 15px;
    position: absolute;
}

.photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid 1px #000;
    position: absolute;
    top: 30px;
    left: 50px;
    box-shadow: 3px 2px 4px #555;
}

.person{
    margin-top: 60px;
    margin-left: 240px;
}

.person h1{
    font-size: 60px;
    font-weight: 600;
}

.person p{
    font-size: 30px;
    font-weight: 300;
}

.person button{
    position: absolute;
    right: 50px;
    top: 50px;
    height: 40px;
    width: 120px;
    background: none;
    color: #000000;
    border-radius: 20px;
}

.projetos-menu{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #fad367, #fce198);
    margin-top: 45px;
    margin-left: 25px;
    width: 70%;
    height: 57%;
    border-radius: 5px;
    position: absolute;
}

.projetos{
    list-style:none;
    font-weight: 400;
    font-size: 36px;
}

.itens{
    list-style-type: none;
    font-size: 24px;
    font-weight: 200;
    line-height: 56px;
}

.itens a{
    color: #000000;
    text-decoration: none;
}

.conquista{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #fad367, #fce198);
    margin-top: 45px;
    right: 25px;
    width: 22%;
    height: 57%;
    border-radius: 5px;
    position: absolute;
}


.dark{
    background: linear-gradient(#5f5027,#423206);
    background-size: 100%;
    background-repeat: no-repeat;
}

.dark .container{
    background: #5a5a5a;
    border-radius: 20px;
}

.dark .person{
    color: #ececec;
}

.dark .person button{
    color: #ececec;
    border-color: #ececec;
}

.dark .projetos-menu{
    color: #696969;
}